.modal {
  /* display: none; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  height: 60%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contentDelete {
  background: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
  height: 20%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: left;
  font-size: 15px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;

}

.close:hover {
  background: rgb(255, 138, 138);
  color: white;
}
